@import "../../style/common/constants";

.login-form {
    padding-top: 1em;
  }
  
.login-form__text {
    font-family: Open Sans Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 1em;
}

.login-form__input {
    width: 18em;
    height: 2em;
}

.login-form__btn-text {
    width: 15.5em;
    height: 2em;
    border: 0;
    margin-top: 1em;
    // text
    background-color: $black;
    color: $white-left-side;
    font-family: Open Sans Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
}

.login-form__forgot-pwd {
    font-family: Open Sans Regular;
    font-size: 0.8em;
    line-height: 2em;
}

.login-form__facebook {
    padding-top: 3em;
    font-family: Open Sans Bold;
    font-size: 1em;
    line-height: 2em;
}

.login-form__hr {
    width: 11em;
}

.login-form__sign-up {
    font-family: Open Sans Regular;
    font-size: 1em;
    line-height: 2em;
    padding-bottom: 3em;
}

// underline links only on hover
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: $black;
}
