@import '../../style/common/constants';

/*------------------------------------*\
  #USER-PROFILE
\*------------------------------------*/

.user-profile__profile-picture {
  text-align: -webkit-center;
}

.user-profile__options {
  padding-top: 1em;
  padding-left: 1.5em;
  position: absolute;
}

.user-profile__app-title {
  font-family: $font-family-bold;
  font-size: 1.5em;
  line-height: 1.5em;
  letter-spacing: 0.2em;
}

.user-profile__username {
  font-family: $font-family-bold;
  font-size: 1em;
  line-height: 1em;
  letter-spacing: 0.1em;
}

.user-profile__button-link {
  font-family: $font-family-regular;
  font-size: 0.8em;
  line-height: 1em;
  letter-spacing: 0.1em;
}

.button-as-link {
  font-family: $font-family-regular;
  font-size: 1em;
  line-height: 1em;
  letter-spacing: 0.1em;
  background: none;
  border: none;
  padding: 0;
  font-family: arial, sans-serif;
  cursor: pointer;
}

.button-as-link:hover {
  // Underline and turn the button blue on hover
  text-decoration: underline;
  color: $dodger-blue;
}

.button-as-link:focus {
  // Eliminate border when the button is clicked
  border-color: transparent;
  outline: none;
}

.user-profile__list-container {
  margin-top: 10em;
}

.user-profile__list-display {
  overflow-y: auto;
  height: 25vh;
  text-align: center;
  align-content: center;
}

.user-profile__list-hr {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  width: 25vw;
}

.user-profile__list-text {
  font-family: $font-family-regular;
  font-size: 1.2em;
  line-height: 1em;
  letter-spacing: 0.1em;
  padding-left: 5em;
  padding-right: 5em;
}

.user-profile__hr {
  width: 11em;
  margin-top: 2em;
}

.user-profile__smilies {
  bottom: 1em;
  position: absolute;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
}

%rounded-image {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-profile__rounded-image-edit-container {
  @extend %rounded-image;
  cursor: url(../../assets/pencil.png), auto;
}

.user-profile__rounded-image-container {
  @extend %rounded-image;
}

.user-profile__rounded-image {
  width: 200px;
}

.smilies-img {
  width: 4em;
  height: auto;
}

a:hover {
  text-decoration: underline;
  color: $dodger-blue;
}

.initial-page-container__forgot_password__form {
  text-align: -webkit-center;
  margin-top: 2em;
}

.user-profile__rounded-image-edit-hide-btn {
  cursor: pointer;
  display: none;
}
