@import '../../style/common/constants';

.user-form__text {
  font-family: $font-family-regular;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 1em;
  margin-bottom: 0.2em;
}

.user-form__input {
  width: 18em;
  height: 2.5em;
  border-radius: 0;
  border-color: $black;
  border-width: 1px;
}

// center placeholder text
::-webkit-input-placeholder {
  text-align: center;
}

.user-form__input:hover {
  border-radius: 0;
}

%button-text {
  background-color: $black;
  color: $white;
  font-family: $font-family-regular;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  box-shadow: 0px 4px 4px $black;
  outline: none;
}

.user-form__btn-text {
  width: 15.5em;
  height: 2em;
  border: 0;
  margin-top: 2.2em;
  // text
  @extend %button-text;
}

.reset_password__btn-text {
  width: 10em;
  height: 2em;
  border: 0;
  margin-top: 1em;
  // text
  @extend %button-text;
}

.user-form__btn-text:active,
.reset_password__btn-text:active {
  box-shadow: none;
}

.user-form__forgot-password {
  font-family: $font-family-regular;
  font-size: 0.8em;
  line-height: 2em;
  padding-top: 0.8em;
}

.user-form__alert {
  margin-top: 0;
  color: $error-red-shiraz;
  font-family: $font-family-regular;
  font-size: 0.8em;
  line-height: 2em;
}

.user-form__hr {
  margin-top: 1em;
  width: 10em;
  margin-bottom: 2em;
}

.user-form__select {
  width: 16em;
  margin-bottom: 1.5em;
  height: 1em;
  font-size: 1em;
  line-height: 1em;
}

.reset-password-form {
  margin-top: 5em;
}

// underline links only on hover
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: $black;
}
