.edit-profile__user-image-name {
  margin-top: 0.5rem;
}

.edit-profile-form__gender-select {
  margin-bottom: 2.5rem;
}

.edit-profile__button {
  width: 10rem;
}

.edit-profile-form {
  text-align: -webkit-center;
}
