@import '../../../style/common/constants';

.match-item {
  width: 26vw;
  display: flex;
  position: relative; // to center vertically the children
}

.match-item__image-container {
  margin-left: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  // to center vertically
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.match-item__image {
  width: 6rem;
}

.match-item__text-container {
  flex-grow: 2;
  margin-left: 4rem;
}

.match-item__name {
  font-family: $font-family-bold;
  font-size: 1em;
  line-height: 2em;
  text-align: left;
  margin-top: 0;
  padding-left: 1.5rem;
}

.match-item__topic-icon-container {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.match-item__topic-icon {
  // to center horizontally
  width: 0.8rem;
  // to center vertically
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
