@import '../../../style/common/constants';

.signup-options {
  padding-top: 1rem;
}

.signup-options__facebook {
  padding-top: 3rem;
  font-family: $font-family-bold;
  font-size: 1em;
  line-height: 2em;
}

.signup-options__hr {
  width: 11rem;
}

.signup-options__sign-up {
  font-family: $font-family-regular;
  font-size: 1em;
  line-height: 2em;
  padding-bottom: 3rem;
}
