@import '../../style/common/constants';

.create-target__title-bar {
  background-color: $dodger-blue;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-target__title-bar-back {
  margin-left: 1em;
  margin-top: 0.2em;
}

.create-target__title-text {
  width: 99vw;
  color: $white;
  font-family: $font-family-bold;
  font-size: 1.5em;
  line-height: 1.8em;
  letter-spacing: 0.2em;
}

.create-target__new-target-img {
  margin-top: 1.5em;
}

.create-target__new-target-text {
  font-family: $font-family-regular;
  font-weight: 600;
  font-size: 1em;
  line-height: 1em;
  /* identical to box height */

  text-align: center;
  letter-spacing: 1.65px;
}
