@import '../../style/common/constants';

.create-target-form {
  width: 18em;
}

.create-target-form__text {
  font-family: $font-family-regular;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 1em;
  margin-bottom: 0.2em;
  text-align: left;
}

.create-target-form__input {
  width: 100%;
  height: 2.5em;
  border-radius: 0;
  border-color: $black;
  border-width: 1px;
}

// center placeholder text
::-webkit-input-placeholder {
  text-align: center;
  color: $black;
  font-size: 1em;
}

.create-target-form__input:hover {
  border-radius: 0;
}

.create-target-form__btn-text {
  height: 2em;
  border: 0;
  margin-top: 10em;
  padding-bottom: 0;
  // text
  background-color: $black;
  color: $white;
  font-family: $font-family-regular;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  box-shadow: 0px 4px 4px $black;
  outline: none;
}

.create-target-form__btn-text:active {
  box-shadow: none;
}

.create-target-form__select {
  width: 100%;
  height: 1em;
  font-size: 1em;
  line-height: 1em;
  text-align: left;
}
