@import '../../../style/common/constants';

.target-item {
  width: 26vw;
  display: flex;
}

.target-item:hover {
  border: 4px solid $dodger-blue;
}

.target-item__trash-button-container {
  text-align: left;
  padding-top: 0.2em;
  height: 2em;
}

.target-item__trash-button-img {
  width: 30px;
}

.target-item__trash-button:hover {
  background-color: $alizarin-crimson;
}

.target-item__text-container {
  text-align: left;
  flex-grow: 2;
  margin-left: 2vw;
  padding-left: 1em;
}

.target-item__title {
  font-family: $font-family-bold;
  font-size: 1em;
  line-height: 2em;
  padding-left: 1vw;
  padding-top: 0.2em;
  padding-bottom: 0.8em;
  margin: 0;
}

.target-item__topic-icon-container {
  margin-right: 0;
  padding-right: 0;
  align-self: right;
  width: 30px;
  height: 30px;
  padding-top: 0.3em;
}

.target-item__topic-icon {
  margin-top: 0.4em;
}
