@import '../../../style/common/constants';

.target-item {
  width: 26vw;
  display: flex;
  position: relative; // to center vertically the children
}

.target-item:hover {
  border: 4px solid $dodger-blue;
  cursor: pointer;
}

.target-item__trash-button-container {
  text-align: left;
}

.target-item__trash-button {
  margin-left: 0.5rem;
  // to center vertically
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.target-item__trash-button-img {
  width: 2rem;
}

.target-item__trash-button:hover {
  background-color: $alizarin-crimson;
}

.target-item__text-container {
  flex-grow: 2;
  margin-left: 3rem;
}

.target-item__title {
  font-family: $font-family-bold;
  font-size: 1em;
  line-height: 1em;
}

.target-item__topic-icon-container {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.target-item__topic-icon {
  // to center horizontally
  width: 0.8rem;
  // to center vertically
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
