@import '../style/common/constants';

html,
body {
  margin: 0;
  border: 0;
}

.main-div {
  display: flex;
  min-height: 100vh;
}

.left-container {
  background-color: $white;
  width: 50vw;
}

.left-container__menu {
  padding-top: 2em;
  padding-left: 1.5em;
}

.left-container__smilies {
  padding-top: 3em;
  text-align: center;
}

%app-title {
  font-family: $font-family-bold;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1em;
  letter-spacing: 0.25em;
  color: $black;
  text-align: center;
}
.left-container__app-title {
  @extend %app-title;
}

.left-container__title {
  @extend %app-title;
  padding-top: 4em;
  margin-bottom: 2.7em;
}

.left-container__app-subtitle {
  font-family: $font-family-bold;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 1em;
  text-align: center;
}

.left-container__description-text {
  font-family: $font-family-regular;
  font-size: 1em;
  line-height: 2em;
  text-align: center;
  padding-left: 12em;
  padding-right: 12em;
}

.main-div-left-homepage {
  background-color: $white;
  width: 30vw;
  height: 100vh;
  text-align: center;
  position: relative;
  box-shadow: 0 2px 4px $black;
}
