@import "../style/common/constants";

.left-menu {
    background-color: $white-left-side;
    width: 30vw;
    text-align: center;
    position: relative;
}

.left-menu__profile-picture {
    align-content: center;
    align-items: center;
    display: inline-block;
}

.left-menu__options {
    padding-top: 2em;
    padding-left: 1.5em;
    position: absolute;
}

.left-menu__app-title {
    font-family: $font-family-bold;
    font-size: 1.5em;
    line-height: 1.5em;
    letter-spacing: 0.2em;
}

.left-menu__username {
    font-family: $font-family-bold;
    font-size: 1em;
    line-height: 1em;
    letter-spacing: 0.1em;
}

.left-menu__edit-logout {
    font-family: $font-family-regular;
    font-size: 0.8em;
    line-height: 1em;
    letter-spacing: 0.1em;
}

.left-menu__matches {
    font-family: $font-family-regular;
    font-size: 1.2em;
    line-height: 1em;
    letter-spacing: 0.1em;
    margin-top: 10em;
    padding-left: 5em;
    padding-right: 5em;
}

.left-menu__hr {
    width: 11em;
    margin-top: 2em;
}

.left-menu__smilies {
    bottom: 1em;
    position: absolute;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
}

.smilies-img {
    width: 4em;
    height: auto;
}

a:hover {
    text-decoration: underline;
    color: $light-blue-right-side;
}
