@import '../../style/common/constants';

.app-store-container {
  background-color: $dodger-blue;
  width: 50vw;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.app-store-container__i6-img {
  margin-top: 10vh;
}

/* Define this for @extend */
%overlap-image {
  /* This to center an image with absolute position */
  position: absolute;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 1;
}

.app-store-container__app-store-button {
  @extend %overlap-image;
  top: 90vh;
}

.app-store-container__social {
  @extend %overlap-image;
  top: 85vh;
  padding-bottom: 3em;
}

.app-store-container__play {
  @extend %overlap-image;
  top: 40vh;
}
