@import '../../../style/common/constants';

.create-target__title-bar {
  background-color: $dodger-blue;
  height: 5rem;
  display: flex;
}

.create-target__new-target-img {
  margin-top: 1.5rem;
  width: 2rem;
}

.create-target__new-target-text {
  font-family: $font-family-regular;
  font-weight: 600;
  font-size: 1em;
  line-height: 1em;
  /* identical to box height */

  text-align: -webkit-center;
  letter-spacing: 1.65px;
  margin-bottom: 6em;
}

.create-target-form__select {
  width: 16rem;
  margin-bottom: 1.5rem;
  height: 1rem;
  font-size: 1em;
  line-height: 1em;
}

.create-target__form-container {
  text-align: -webkit-center;
}
