// Colors
$black: black;
$white: #fff;
$dodger-blue: #2fbcf7;
$error-red-shiraz: #ad0b1d;
$safron: #efc638;

// Fonts
@font-face {
  font-family: Open Sans Regular;
  src: url('../../assets/fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: Open Sans Bold;
  src: url('../../assets/fonts/OpenSans-Bold.ttf');
}
$font-family-regular: Open Sans Regular;
$font-family-bold: Open Sans Bold;

// Numbers
$create-target-circle-opacity: 0.8;

// Loader style
$loader-height: 80;
$loader-width: 50;

// Hamburger menu style
$hambWidth: 20;
$hambHeight: 12;
$hambStrokeWidth: 2;
$hambRotate: 0;
$hambColor: $black;
$hambBorderRadius: 0;
$hambAnimationDuration: 0.5;

:export {
  safron: $safron;
  white: $white;
  dodgerBlue: $dodger-blue;
  createTargetOpacity: $create-target-circle-opacity;
  loaderHeight: $loader-height;
  loaderWidth: $loader-width;
  hambWidth: $hambWidth;
  hambHeight: $hambHeight;
  hambStrokeWidth: $hambStrokeWidth;
  hambRotate: $hambRotate;
  hambColor: $hambColor;
  hambBorderRadius: $hambBorderRadius;
  hambAnimationDuration: $hambAnimationDuration;
}
