// Colors
$black: black;
$white: #fff;
$dodger-blue:  #2FBCF7;
$error-red-shiraz: #AD0B1D;

// Fonts
@font-face {
    font-family: Open Sans Regular;
    src: url("../../assets/fonts/OpenSans-Regular.ttf");
}
@font-face {
    font-family: Open Sans Bold;
    src: url("../../assets/fonts/OpenSans-Bold.ttf");
}
$font-family-regular: Open Sans Regular;
$font-family-bold: Open Sans Bold;
