@import '../../style/common/constants';

.hamburger-menu__list {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  width: 4vw;
  padding: 1em 1em 1em 1em;
  margin-left: 0;
  font-family: $font-family-regular;
  font-size: 0.8em;
  line-height: 0.8em;
}

ul li:hover,
ul li:focus {
  background-color: $dodger-blue;
  cursor: pointer;
}

.hamburger-menu__list-last {
  border-bottom: 1px solid #000;
}
