@import '../../style/common/constants';

.match-item {
  width: 26vw;
  display: flex;
}

.match-item__image-container {
  align-self: left;
  margin-left: 1vw;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.4em;
}

.match-item__image {
  width: 100px;
}

.match-item__text-container {
  flex-grow: 2;
}

.match-item__name {
  font-family: $font-family-bold;
  font-size: 1em;
  line-height: 2em;
  text-align: left;
  padding-left: 2em;
  padding-bottom: 1em;
  padding-top: 0;
  margin-top: 0;
}

.match-item__topic-icon-container {
  align-self: right;
  width: 30px;
  height: 30px;
  padding-top: 1.2em;
}

.match-item__topic-icon {
  margin-right: 0;
}
